:root {
  font-family: Helvetica, Arial, sans-serif;
  
  --background: #121212;
  --menu-bg: #181818;
  --primary-text: #E0E0E0;
  --secondary-text: #B0B0B0;
  --border: #444444;
  --accent: #888888;

  --radius-md: 8px;
  --elevation: 0 2px 12px rgba(0, 0, 0, 0.25);

  --rarity-common: #ffffff;
  --rarity-unique: #fec394;
  --rarity-rare: #ff6161;
  --rarity-epic: #d166fd;
  --rarity-secret: #f700ff;
  --rarity-infinity-border: #6666ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6, strong, span, li, label, input {
  color: var(--primary-text);
}

p, small, .secondary, .hint, .subtext {
  color: var(--secondary-text);
}

hr, .divider, .bordered {
  border-color: var(--border);
}

a, .accent {
  color: var(--accent);
}